*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
	/*"Git"push "Rect"(); user agent style-sheet*/
}
body {
	font-family:  Trebuchet MS, sans-serif;
	text-align: center;
}

p.item {
	background-color: rgba(148, 197, 250, 0.6);
	padding:30px;
	border: 30px;
	font-style: italic;
	width: 300px;
	transition: width 2s;
	height: 300px;
	overflow:hidden;
	color: #666;
	display:inline-block;
}
h1 {
	background-image: url('heading.png');
	background-size: 30%;
}

p.item:hover {
	width: 1300px;
	height: 100%;
	font-size: 150%;
	color: #00F;
	background-color:#FFFF00;
}
